<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>한국공학대학교</title>
            <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
            <link href="css/styles.css" rel="stylesheet" />
            <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
            <link href="css/styles.css" rel="stylesheet" />
        </head>
        <body class="sb-nav-fixed">
            <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
                <!-- Navbar Brand-->
                <a class="navbar-brand ps-3" href="/"><img src="images/logo.png" alt="한국공대로고" width="200px"></a>
                <!-- Sidebar Toggle-->
                <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
                <!-- Navbar Search-->
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                </form>
                <!-- Navbar-->
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <%-login%>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="layoutSidenav">
                <div id="layoutSidenav_nav">
                    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                        <div class="sb-sidenav-menu">
                            <div class="nav">
                                <div class="sb-sidenav-menu-heading">홈</div>
                                <a class="nav-link" href="/">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    홈페이지
                                </a>
                                <div class="sb-sidenav-menu-heading">강의실 찾기</div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                    메인
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                            빈 강의실 찾기 
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="/select/A">A동</a>
                                                <a class="nav-link" href="/select/B">B동</a>
                                                <a class="nav-link" href="/select/C">C동</a>
                                                <a class="nav-link" href="/select/D">D동</a>
                                                <a class="nav-link" href="/select/E">E동</a>
                                                <a class="nav-link" href="/select/Sanyung">산학융합관</a>
                                            </nav>
                                        </div>
                                    </nav>
                                </div>
                                <div class="sb-sidenav-menu-heading">여분의 기능</div>
                                <a class="nav-link" href="/report">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    신고하기
                                </a>
                                <a class="nav-link" href="/map">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    지도
                                </a>
                                <a class="nav-link" href="/how_use">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    이용안내
                                </a>
                            </div>
                        </div>
                        <div class="sb-sidenav-footer">
                            <div class="small">Logged in as:</div>
                            Start Bootstrap
                        </div>
                    </nav>
                </div>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">이용안내</h1>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    목록
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid px-4">
                            <p>
                                <h3>회원가입</h3>
                            </p>
                            <p>
                                * 회원가입시 학번을 입력해주세요.
                            </p>
                            <p>
                                * 회원가입시 학생증을 업로드 해주세요.
                            </p>
                            <p>
                                * 학생증 인증 완료까지 5~10분 정도 소요됩니다.
                            </p>
                            <p>
                                * 학생증 인증이 완료되지 않으면 사용하실 수 없습니다.
                            </p>
                            <br>
                            <p>
                                <h3>강의실 이용</h3>
                            </p>
                            <p>
                                * 강의실은 1인 1실만 가능합니다.
                            </p>
                            <p>
                                * 강의실을 1시간 이상 비워둘 시 퇴실을 해주세요.
                            </p>
                            <br>
                            <p>
                                <h3>예약 이용</h3>
                            </p>
                            <p>
                                * 예약 후 1시간 이내로 강의실로 와서 입실로 바꿔주시길 바랍니다.
                            </p>
                            <p>
                                * 예약 후 1시간 이내로 입실로 바꾸지 않으면 자동으로 예약 취소가 됩니다. 
                            </p>
                            <br>
                            <p>
                                <h3>신고하기 및 경고 이용</h3>
                            </p>
                            <p>
                                * 강의실 신고를 해주시면 확인 후 경고장을 보낼 예정입니다.
                            </p>
                            <p>
                                * 강의실을 1시간 이상 비운 사용자가 적발되면 신고해주시면 감사하겠습니다. 
                            </p>
                            <p>
                                * 경고를 3회 받으신 사용자는 3일간 사용이 정지됩니다. 
                            </p>
                        </div>
                    </main>
                    <footer class="py-4 bg-light mt-auto">
                        <div class="container-fluid px-4">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Your Website 2022</div>
                                <div>
                                    <a href="#">Privacy Policy</a>
                                    &middot;
                                    <a href="#">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </body>
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</html>